@model Course
@{
    ViewBag.Title = "Add a Student";
    List<Semester> semesterList = (List<Semester>)ViewData["SemesterList"];
    List<Subject> subjectList = (List<Subject>)ViewData["SubjectList"];
    List<Lecturer> lecturerList = (List<Lecturer>)ViewData["LecturerList"];
    DateTime dateEnd = new DateTime();
}

<h2>Add a Course <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddCourse" method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input class="form-control" name="Id" required />
    </div>

    @if (ViewData["IdLength"] == "IdLength")
    {
        <h3>Id can only contain at max 50 characters</h3>
        <br />
    }


    @if (ViewData["Invalid"] == "Invalid")
    {
        <h3>ID must start with "C" and followed by any number</h3>
        <br />
    }



    @if (ViewBag.Result == "Duplicate Course")
    {
        <h3>Course Id already exist</h3>
        <br />
    }
    <div class="form-group">
        <label for="Name">Name:</label>
        <input class="form-control" name="Name" required />
    </div>

    @if (ViewData["NameLength"] == "NameLength")
    {
        <h3>Name can only contain at max 200 characters</h3>
        <br />
    }

    <div class="form-group">
        <label for="DateStart">DateStart:</label>
        <input class="form-control" name="dateStart" type="date" required />
    </div>
    <div class="form-group">
        <label for="DateEnd">DateEnd:</label>
        <input class="form-control" name="dateEnd" type="date" required />
    </div>

    @if (ViewData["DateTime"] == "DateTime")
    {
        <h3>Date Start must occurs before Date Ends</h3>
        <br />
    }
    <br />
    <select class="form-select form-select-lg" name="SemesterId" id="SemesterId" required>
        <option selected value="">Semester Id</option>
        @{
            foreach (Semester r in semesterList)
            {
                <option value="@r.Id"> @r.Id</option>
            }
        }
        }
    </select>
    <br />
    <select class="form-select form-select-lg" name="SubjectId" id="SubjectId" required>
        <option selected value="">Subject Id</option>
        @{
            foreach (Subject r in subjectList)
            {
                <option value="@r.Id"> @r.Id</option>
            }
        }
        }
    </select>
    <br />
    <select class="form-select form-select-lg" name="LecturerId" id="LecturerId" required>
        <option selected value="">Lecturer Id</option>
        @{
            foreach (Lecturer r in lecturerList)
            {
                <option value="@r.Id"> @r.Id</option>
            }
        }
        }
    </select>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>



