@model Assignment
@{
    ViewBag.Title = "Update an Assignment";
}

<h2>Update an Assignment <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Id">Id:</label>
        <input class="form-control" asp-for="@Model.Id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Name">Name:</label>
        <input class="form-control" asp-for="@Model.Name" required />
    </div>
    @if (ViewData["NameLength"] == "NameLength")
    {
        <div style="color:red">Name can only contain at max 200 characters</div>
        <br />
    }
    <div class="form-group">
        <label asp-for="@Model.Description">Descripton:</label>
        <input class="form-control" asp-for="@Model.Description" required />
    </div>

    @if (ViewData["DescriptionLength"] == "DescriptionLength")
    {
        <div style="color:red">Description can only contain at max 200 characters</div>
        <br />
    }
    <div class="form-group">
        <label asp-for="@Model.DateStart">DateStart:</label>
        <input class="form-control" asp-for="@Model.DateStart" required />
    </div>
    <div class="form-group">
        <label asp-for="@Model.DateEnd">DateEnd:</label>
        <input class="form-control" asp-for="@Model.DateEnd" required />
    </div>
    @if (ViewData["DateTime"] == "DateTime")
    {
        <div style="color:red">Date Start must occurs before Date Ends</div>
        <br />
    }
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>
