@model IEnumerable<Account>

@{
    ViewData["Title"] = "All Account";
    
}
<h2>All Accounts</h2>
<a asp-action="AddAccount" class="btn btn-sm btn-primary">Add Account</a>
<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>StudentId</th>
            <th>LecturerId</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Username</td>
                    <td>@r.Password</td>
                    <td>@r.StudentId</td>
                    <td>@r.TeacherId</td>
                    <td>
                        <form asp-action="UpdateAccount" method="">
                            <input type="hidden" value="@r.Id" name="id" />
                            <input type="hidden" value="@r.Username" name="username" />
                            <input type="hidden" value="@r.Password" name="password" />
                            <button type="submit" class="btn btn-sm btn-primary">Update</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteAccount" method="post">
                            <input type="hidden" value="@r.Id" name="id" />
                            <button type="submit" class="btn btn-sm btn-primary">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>