@model Account
@{
    ViewBag.Title = "Update an Account";
    List<Lecturer> LecturerList = (List<Lecturer>)ViewData["LecturerList"];
    List<Student> StudentList = (List<Student>)ViewData["StudentList"];
}
<h2>Update an Account <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="UpdateAccount" method="post">
    <div class="form-group">
        <label asp-for="@Model.Username">Username:</label>
        <input class="form-control" asp-for="@Model.Username" required />
    </div>

    @if (ViewData["Username"] == "Username")
    {
        <div style="color:red">Username can only contain alphabet letters and numbers</div>
        <br />
    }

    <div class="form-group">
        <label asp-for="@Model.Password">Password:</label>
        <input class="form-control" asp-for="@Model.Password" required />
    </div>
    <br/>

    @if (ViewData["Password"] == "Password")
    {
        <div style="color:red">Password can only contain alphabet letters and numbers</div>
        <br />
    }


    @if (Model.TeacherId != null)
    {
        <label>Lecturer Id:</label>
        <select class="form-select form-select-lg" name="taskId" id="taskId">
            @{
                <option value="@Model.TeacherId" selected>@Model.TeacherId</option>
                foreach (Lecturer lecturer in LecturerList)
                {
                    if (lecturer.Id != Model.TeacherId)
                    {
                        <option value="@lecturer.Id"> @lecturer.Id</option>
                    }
                }
            }
        </select>
        <br />
    }

    @if (Model.StudentId != null){
    <label>Student Id:</label>
    <select class="form-select form-select-lg" name="studentId" id="studentId" >
        @{
            <option value="@Model.StudentId" selected>@Model.StudentId</option>
            foreach (Student r in StudentList)
            {
                if (r.Id != Model.StudentId)
                {
                    <option value="@r.Id"> @r.Id</option>
                }
            }
        }
    </select>
    <br />
    }
    <input type="hidden" value="@Model.Id" name="id" />
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

@if (ViewBag.Result == "Duplicate Student")
{
    <h3 style="color:red" class="text-center">This student Id has already been assigned to an account</h3>
}
@if (ViewBag.Result == "Duplicate Lecturer")
{
    <h3 style="color:red" class="text-center">This lecturer Id has already been assigned to an account</h3>
}
@if (ViewBag.Result == "Duplicate Username")
{
    <h3 style="color:red" class="text-center">This username already exists</h3>
}

