@model IEnumerable<Assignment>

@{
    ViewData["Title"] = "All Assignments";
    List<Assignment> AssignmentList = (List<Assignment>)ViewData["AssignList"];
}

<h2>All Assignments</h2>
<a asp-action="AddAssignment" class="btn btn-sm btn-primary">Add Assignment</a>
<a asp-action="GetAssignment" class="btn btn-sm btn-secondary">Get Assignment</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Descripton</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    @{
            foreach (Assignment r in AssignmentList)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
                <td>@r.Description</td>
                <td>@r.DateStart</td>
                <td>@r.DateEnd</td>
                <td>
                    <a asp-action="UpdateAssignment" asp-route-id="@r.Id">
                    </a>
                </td>
                <td>
                    <form asp-action="DeleteAssignment" method="post">
                        <input type="hidden" value="@r.Id" name="AssignmentId" />
                    </form>
                </td>
            </tr>
        }
       }
    </tbody>
</table>