@model Report;

@{
    List<Report> ReportList = (List<Report>)ViewData["ReportList"];
    String cookieValue = ViewData["cookieValue"].ToString();
}
<h3>Assignment management:</h3>
<form asp-controller="Report" asp-action="AddReport" method="">
    <input type="hidden" name="id" value="@cookieValue" />
    <button class="btn btn-sm bg-white" type="submit"
            style="background-color:#212529!important; color:white!important; border-radius:12px;">
        Make a report
    </button>
</form>
@*<a asp-action="AddReport" class="btn btn-sm bg-white" style="background-color:#4db749!important; color:white!important; border-radius:12px;">Add Report</a>*@
<br />


@if (ReportList != null)
{
  <div class="table_scroll">
            <table class="table table-hover table_header_fixed" >
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Descripton</th>    
                <th style="text-align:center!important">Edit</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var r in ReportList)
            {
                <tr>
                    <td style="width:80px !important;vertical-align:middle!important;">@r.Id</td>
                    <td style="word-break:break-all; word-wrap:break-word; white-space:pre-wrap;">@r.Description</td>
                    <td style="width:170px !important; vertical-align:middle!important;">
                        <div class="d-flex justify-content-around" >
                        <form asp-action="UpdateReport" method="">
                            <input type="hidden" value="@r.Id" name="id" />
                                <button style="background-color:#212529; color:white; border-radius:12px;" type="submit" class="btn btn-sm">Update</button>
                            </form>
                        <form asp-action="DeleteReport" method="post">
                            <input type="hidden" value="@r.Id" name="id" />
                                <button style="background-color:#212529;color:white; border-radius:12px;" type="submit" class="btn btn-sm">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
         @*   //////////*@
        @*    <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                       
                        <th scope="col">Descripton</th>
                       
                 
                        <th scope="col" style="text-align:center!important">Edit</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var r in TopicList)
                    {
                        <tr>
                            <td>@r.Id</td>
                            <td style="word-break:break-all; word-wrap:break-word; white-space:pre-wrap;">@r.Name</td>
                            <td style="word-break:break-all; word-wrap:break-word; white-space:pre-wrap;">@r.Description</td>
                            <td>@r.LecturerId</td>
                            <td>@r.Approval</td>
                            <td class="d-flex justify-content-around" style="margin:0!important;">
                                <form asp-action="UpdateTopic" method="">
                                    <input type="hidden" value="@r.Id" name="id" />
                                    <button style="background-color:#212529; color:white; border-radius:12px;" type="submit" class="btn btn-sm">Update</button>
                                </form>
                                <form asp-action="DeleteTopic" method="post">
                                    <input type="hidden" value="@r.Id" name="id" />
                                    <button style="background-color:#212529;color:white; border-radius:12px;" type="submit" class="btn btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@
        </tbody>
    </table>
    </div>
}
else
{
    <div> No report available</div>
}

