@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Report report = (Report)ViewData["Report"];
}
@*<a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>*@
<div class="form_container">
    <a asp-action="Index" class="back" style="    position: relative;
    left: 3%;font-size:20px;font-weight:800;text-decoration:none;color:black;">&lt- </a>
<form asp-action="UpdateReport" method="post">
    <h3>
        Update a report
    </h3>
    <div class="form-group">
        <div>
            <label asp-for="@report.Id">Id:</label>
            <input class="form-control" asp-for="@report.Id" name="id" required  readonly />
        </div>
    </div>
        <div class="form-group">
        <div>
            <label asp-for="@report.Description">Description:</label>
            <input class="form-control" asp-for="@report.Description" name="descripton" required  />
        </div>
        </div>
        <input type="hidden" name="teamId" value="@report.TeamId" />
        <div class="text-center panel-body">
            <button type="submit" class="btn btn-sm btn-primary">Update</button>
        </div>
</form>
</div>
