@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Report report = (Report)ViewData["Report"];
}
@*<a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>*@
<div class="form_container">
    <a asp-action="Index" class="back" style="    position: relative;
    left: 3%;font-size:20px;font-weight:800;text-decoration:none;color:black;"><i class="fa-solid fa-arrow-left"></i></a>
<form asp-action="UpdateReport" method="post">
        <div style="width:100%;text-align:center;"><h3>Update report</h3></div>
    <div class="form-group">
        <div>
            <label asp-for="@report.Id">ID:</label>
            <input class="form-control" asp-for="@report.Id" name="id" required  readonly />
        </div>
    </div>
        <div class="form-group">
        <div>
            <label asp-for="@report.Description">Description:</label>
            <input class="form-control" asp-for="@report.Description" name="descripton" required  />
        </div>
        </div>
        <input type="hidden" name="teamId" value="@report.TeamId" />
        <div class="text-center panel-body">
            <button type="submit" class="table-btn" style="width:100%;height:50px;font-size:25px;">Update</button>
        </div>
</form>
</div>
