@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Team> TeamList = (List<Team>)ViewData["TeamList"];
    List<StudentCourse> student = (List<StudentCourse>)ViewData["StudentList"];
    Layout = "_LectureLayout";
}


<div class="form_container">
    <a asp-action="CurrentCourseTeam" class="back" style="    position: relative;
    left: 3%;font-size:20px;font-weight:800;text-decoration:none;color:black;">&lt- </a>
        <form asp-action="AssignStudentTeam" method="post">
               <h2>Assign a student </h2>
            <select class="form-select form-select-lg form-control" name="StudentId" id="StudentId" required>
                <option selected>Student: </option>
                @{
                    foreach (StudentCourse r in student)
                    {
                        <option value="@r.StudentId"> @r.StudentId - @r.Student.Name</option>
                    }
                }
                }
            </select>
            <br />
            <select class="form-select form-select-lg form-control" name="TeamId" id="TeamId" required>
                <option selected>Team: </option>
                @{
                    foreach (Team r in TeamList)
                    {
                         <option value="@r.Id"> @r.Id</option>
                    }
                  }
            </select>
            <div class="text-center panel-body">
                <button type="submit" class="btn btn-sm ">Assign</button>
            </div>
        </form>
    
</div>
@if (ViewBag.Result == "Duplicate")
{
    <br />
    <h3 style="color:red" class="text-center">This student is already in this team</h3>
}
@if (ViewBag.Result == "Already Exists")
{
    <br />
    <h3 style="color:red" class="text-center">This student is already in another team in the same course</h3>
}