@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Topic> TopicList = (List<Topic>)ViewData["TopicList"];
    List<Course> CourseList = (List<Course>)ViewData["CourseList"];
    List<Team> TeamList = (List<Team>)ViewData["TeamList"];
    Layout = "_LectureLayout";
}


<div class="form_container">
    <a asp-action="GetTopic" class="back" style="    position: relative;
    left: 3%;font-size:20px;font-weight:800;text-decoration:none;color:black;"><i class="fa-solid fa-arrow-left"></i> </a>
        <form asp-action="AssignTopic" method="post">
        <div style="width:100%;text-align:center;"><h3>Assign topic</h3></div>
        <div class="form-group d-flex flex-column justify-content-between">
        <select class="form-select form-select-lg form-control" name="TopicId" id="TopicId" required>
                <option selected>Topic: </option>
                @{
                    foreach (Topic r in TopicList)
                    {
                        <option value="@r.Id"> @r.Id: @r.Name</option>
                    }
                }
                }
            </select>
            <br/>
            <select class="form-select form-select-lg form-control" name="TeamId" id="TeamId" required>
                <option selected>Team: </option>
                @{
                    foreach (Course r in CourseList)
                    {
                        foreach(Team x in TeamList)
                        {
                            if (r.Id.Equals(x.CourseId))
                            {
                                <option value="@x.Id"> @x.Id</option>
                            }
                        }
                    }
                }
                }
            </select>
        </div>
            <div class="text-center panel-body">
            <button type="submit" class="table-btn" style="width:100%;height:50px;font-size:25px;">Assign</button>
            </div>
        </form>
    </div>

@if (ViewBag.Result == "Duplicate")
{
    <br />
    <h3 style="color:red" class="text-center">This team already has a topic</h3>
}