@{
    ViewBag.Title = "Update a Team";
    Layout = "_LectureLayout";
    List<Topic> TopicList = (List<Topic>)ViewData["TopicList"];
    Team team = (Team)ViewData["Team"];
    List<Project> projectList = (List<Project>)ViewData["Project"];
    var project = projectList.Where(p => p.TeamId.Equals(team.Id)).FirstOrDefault();
}
<div class="form_container">
    <a asp-action="CurrentCourseTeam" class="back" style="    position: relative;
    left: 3%;font-size:20px;font-weight:800;text-decoration:none;color:black;"><i class="fa-solid fa-arrow-left"></i></a>
    <form asp-action="CurrentCourseTeamUpdate" method="post" style="width:730px;">
        <div style="width:100%;text-align:center;"><h3>Change topic</h3></div>
        <div class="form-group d-flex flex-column justify-content-between">
            <div class="form-group">
                <div>
                    <label asp-for="@team.Id">ID</label>
                    <input class="form-control" asp-for="@team.Id" name="TeamId" required readonly />
                </div>

                <br />
                <select class="form-select form-select-lg form-control" name="TopicId" required>
                    @if (project != null)
                    {
                        <option value="@project.TopicId" selected>@project.TopicId: @project.Topic.Name </option>
                    }
                    else
                    {
                        <option value="" selected>Topic: </option>
                    }
                    @{
                        foreach (Topic r in TopicList)
                        {
                            <option value="@r.Id"> @r.Id: @r.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="text-center panel-body">
                <button type="submit" class="table-btn" style="width:100%;height:50px;font-size:25px;">Update</button>
            </div>
    </form>
</div>

@if (ViewBag.Result == "Duplicate")
{
    <br />
    <h3 style="color:red" class="text-center">This Id already exists</h3>
}
