@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Course Course = (Course)ViewData["Course"];
    List<Team> TeamList = (List<Team>)ViewData["TeamList"];
    List<Project> Project = (List<Project>)ViewData["Project"];
    Layout = "_LectureLayout";
    int count = 0;
}

<h3>
    Team
</h3>
<h6>
    Current course:@Course.Name
</h6>

<a asp-action="CurrentCourseTeamAdd" class="btn btn-sm" style="background-color:#28a745; border-radius:12px;font-weight:600;color:black;box-shadow: 0px 0px 0px 3px green;">Add Team</a>
<br />
<br />
@if (TeamList.Count != 0)
{


    <div class="table_scroll">
        <table class="table table-hover table_header_fixed">
            <thead class="thead">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Course Id</th>
                    <th scope="col">Current Topic</th>
                    <th scope="col" style="text-align:center!important">Edit</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var r in TeamList)
                {
                    var projectList = Project.Where(p => p.TeamId.Equals(r.Id)).FirstOrDefault();
                    <tr>
                        <td>@r.Id</td>
                        <td style="word-break:break-all; word-wrap:break-word; white-space:pre-wrap;">@r.CourseId</td>
                        @if (projectList != null)
                        {
                            <td style="word-break:break-all; word-wrap:break-word; white-space:pre-wrap;">@projectList.Topic.Name</td>
                        }
                        else
                        {
                            <td style="word-break:break-all; word-wrap:break-word; white-space:pre-wrap;">No topic</td>
                        }


                        <td><div class="d-flex justify-content-around" style="margin:0!important;">
                            <form asp-action="ViewInfoTeam" method="">
                                <input type="hidden" value="@r.Id" name="TeamId" />
                                    <button style="background-color:#28a745; border-radius:12px;font-weight:600;color:black;box-shadow: 0px 0px 0px 3px green;" type="submit" class="btn btn-sm">View</button>
                            </form>
                            <form asp-action="CurrentCourseTeamUpdate" method="">
                                <input type="hidden" value="@r.Id" name="TeamId" />
                                    <button style="background-color:#28a745; border-radius:12px;font-weight:600;color:black;box-shadow: 0px 0px 0px 3px green;" type="submit" class="btn btn-sm">Change Topic</button>
                            </form>
                            <form asp-action="CurrentCourseTeamDelete" method="post">
                                <input type="hidden" value="@r.Id" name="TeamId" />
                                    <button style="background-color:#28a745; border-radius:12px;font-weight:600;color:black;box-shadow: 0px 0px 0px 3px green;" type="submit" class="btn btn-sm">Remove</button>
                            </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (ViewBag.Result == "Duplicate")
    {
        <h3 style="color:red">Team already exist</h3>
    }

}
else
{
    <h2 style="text-align:center"> No team available</h2>
}
