@using Azure;
@model IEnumerable<Topic>

@{
    ViewData["Title"] = "All Assignments";
    Layout = "_LectureLayout";
    List<Topic> TopicList = (List<Topic>)ViewData["TopicList"];

}

@if(ViewBag.Result == "Leader")
{
    <h3> All topics</h3>
}
else
{
    <h3> Topics </h3 >
}

<a asp-action="AddTopic" class="a-btn"><i class="fa-solid fa-plus"></i> Add Topic</a>
<a asp-action="AssignTopic" class="a-btn"><i class="fa-solid fa-check"></i> Assign Topic</a>
<br />
<br/>
@if (TopicList.Count != 0)
{
   <div class="table_scroll">
            <table class="table table-hover table_header_fixed" >
        <thead class="thead">
            <tr>
                <th>ID</th>
                <th style="width:25%;">Name</th>
                <th>Descripton</th>
                <th>LecturerId</th>
                <th>Approval</th>
                    <th style="text-align:center!important; width:13%;">Edit</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var r in TopicList)
            {
                <tr>
                    <td>@r.Id</td>
                    <td style ="word-break:break-all; word-wrap:break-word; white-space:pre-wrap;">@r.Name</td>
                    <td style="word-break:break-all; word-wrap:break-word; white-space:pre-wrap;">@r.Description</td>
                    <td>@r.LecturerId</td>
                    <td>@r.Approval</td>
                    <td> <div class="d-flex justify-content-around" >
                        <form asp-action="UpdateTopic" method="">
                            <input type="hidden" value="@r.Id" name="id" />
                                    <button type="submit" class="table-btn-icon"><i class="fa-solid fa-gear"></i></button>
                        </form>
                        <form asp-action="DeleteTopic" method="post">
                            <input type="hidden" value="@r.Id" name="id" />
                                    <button type="submit" class="table-btn-icon"><i class="fa-solid fa-xmark"></i></button>
                        </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>

        @if(ViewBag.Result == "Duplicate")
        {
            <h3 style="color:red">ID already exist</h3>
        }
    }


else
{
    <h2 style="text-align:center"> No topic available</h2>
}
