@{
    ViewData["Title"] = "Home Page";
    Layout = "_HeaderOnly";

}
@{
    ViewData["Title"] = "Home Page";
    List<Semester> SemesterList = (List<Semester>)ViewData["SemesterList"];
    List<Course> CourseList = (List<Course>)ViewData["CourseList"];


}
<div class="d-flex container flex-wrap justify-content-between body_content">
    @foreach (var r in SemesterList)
    {
        <div class="body_dropdown_container">
            <button type="button" class="dropdown_Menu_Button" data-toggle="dropdown">
                @r.Name
            </button>
            <div class="dropdown-menu body_dropdown_menu">
                @foreach (var x in CourseList)
                {
                    @if (x.SemesterId.Equals(r.Id))
                    {<div class="dropdown-item body_dropdown_item">
                        <form asp-controller="Lecturer" asp-action="Dashboard" method="">
                            <input type="hidden" value="@x.Id" name="CourseId" />
                            <button class="body_dropdown_button dropdown-button">@x.Name - @x.Subject.Id: 
                                                                            <br>@x.Subject.Name</button>
                        </form>
                        </div>
                    }
                }
            </div>
        </div
        <br />
    }
</div>

