@model Topic
@{
    ViewBag.Title = "Update an Topic";
    Topic topic = (Topic)ViewData["Topic"];
    Layout = "_LectureLayout";

}
<div class="form_container">
    <a asp-action="GetTopic" class="back" style="    position: relative;
    left: 3%;font-size:20px;font-weight:800;text-decoration:none;color:black;"><i class="fa-solid fa-arrow-left"></i></a>
<form asp-action="UpdateTopic" method="post" style="width:730px;">
        <div style="width:100%;text-align:center;"><h3>Update topic</h3></div>
        <div class="form-group d-flex flex-column justify-content-between">
        <div>
            <label asp-for="@topic.Id">Id:</label>
            <input class="form-control" asp-for="@topic.Id" name="id" required  readonly/>
        </div>
        <div>
            <label asp-for="@topic.Name">Name:</label>
            <input class="form-control" asp-for="@topic.Name" name="name" required  />
        </div>
    </div>
        <div class="form-group d-flex flex-column justify-content-between">
        <label asp-for="@topic.Description">Description:</label>
        <input class="form-control" asp-for="@topic.Description" name="descripton" required  />
    </div>
    <input type="hidden" name="LecturerId" value="@topic.LecturerId" />
    @if (ViewBag.Result != "Leader")
    {
        <input type="hidden" name="approval" value="@topic.Approval" />
    }
    else
    {

        <div>
            Approval  <select class="form-select-lg mb-3" name="approval">
            <option selected>@topic.Approval</option>
            @if(topic.Approval == false)
            {
                <option value="true">True</option>
            }else{
                <option value="false">False</option>
            }
        </select>
        </div>
    }
    <div class="text-center panel-body">
            <button type="submit" class="table-btn" style="width:100%;height:50px;font-size:25px;">Update</button>
    </div>
</form>
</div>

