@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    List<Student> studentList = (List<Student>)ViewData["TeamInfo"];
    string teamId = ViewData["TeamId"].ToString();
    Layout = "_LectureLayout";
}
<a asp-action="CurrentCourseTeam" class="back" style="    position: relative;
    left: 0;font-size:20px;font-weight:800;text-decoration:none;color:black;"><i class="fa-solid fa-arrow-left"></i> </a>
<h3>Team:@teamId</h3>
<a asp-action="AssignStudentTeam" class="btn table-btn" >
        Add a student
   
</a>
<br/>
<br/>
@if (studentList.Count != 0)
{
    
  <div class="table_scroll">
            <table class="table table-hover table_header_fixed" >
        <thead class="thead">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Main</th>
                <th scope="col">Leader</th>
                <th scope="col" style="width:10%;">Edit</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var r in studentList)
            {
                <tr>
                    <td style="vertical-align:left!important;">@r.Id</td>
                    <td style="vertical-align:left!important;">@r.Name</td>
                    <td style="vertical-align:left!important;">@r.Main</td>
                    <td style="vertical-align:left!important;">@r.Leader</td>
                    <td>
                    <form asp-action="AssignStudentTeamDelete" method="post">
                        <input type="hidden" value="@r.Id" name="StudentId" />
                        <input type="hidden" value="@teamId" name="TeamId" />
                                <button class="table-btn-icon"><i class="fa-solid fa-x"></i></button>
                    </form>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    </div>
}
else
{
    <h4 style="text-align:center"> No student available</h4>
}

