@model Team
@{
    ViewData["Title"] = "Home Page";
    List<Course> courseList = (List<Course>)ViewData["CourseList"];
    List<Team> teamList = (List<Team>)ViewData["TeamList"];
    Layout = "_LectureLayout";
}

@if (courseList.Count != 0)
{
    <div class="container  body_content " style=" display: grid!important;grid-template-columns: auto auto auto!important;">
        @foreach (var r in courseList)
        {
            <div class="card" style="width:18rem;min-height:200px;background:rgba(255,255,255,0.5); ">
                <div class="card-header"><h5> @r.Id - @r.Name</h5></div>

                <div class="card-body">
                    <form asp-controller="Lecturer" asp-action="ViewAll">
                        @*<form asp-action="ViewInfoTeam" method="">*@
                        <input type="hidden" value="@r.Id" name="CourseId" />
                        <button class="card-text this_hover_link" style="background:none;border:solid 2px white;width:100%; text-align:start;">Show All</button>
                    </form>

                    @foreach (var x in teamList)
                    {
                        @if (x.CourseId.Equals(r.Id))
                        {
                            <form asp-controller="Lecturer" asp-action="ViewInfoTeam">
                                @*<form asp-action="ViewInfoTeam" method="">*@
                                <input type="hidden" value="@x.Id" name="TeamId" />
                                <button class="card-text this_hover_link" style="background:none;border:solid 2px white;width:100%; text-align:start;margin-top:20px;">@x.Id </button>
                            </form>
                        }
                    }
                </div>
            </div>
            <br />
        }
    </div>
}
else
{
    <h3> You don't have any course</h3>
}
@*/////////////////*@
