@model Team
@{
    ViewData["Title"] = "Home Page";
    List<Course> courseList = (List<Course>)ViewData["CourseList"];
    List<Team> teamList = (List<Team>)ViewData["TeamList"];
    Layout = "_LectureLayout";
}

@if (courseList.Count != 0)
{
    <div class="container  body_content " style=" display: grid!important;grid-template-columns: auto auto auto!important;">
        @foreach (var r in courseList)
        {
            <div class="body_dropdown_container">
                <button type="button" class="dropdown_Menu_Button" data-toggle="dropdown">
                    @r.Id - @r.Name
                </button>
                <div class="dropdown-menu body_dropdown_menu table_scroll">
                    <div class="dropdown-item body_dropdown_item  has_content">
                        <form asp-controller="Lecturer" asp-action="ViewAll">
                            @*<form asp-action="ViewInfoTeam" method="">*@
                            <input type="hidden" value="@r.Id" name="CourseId" />
                            <button class="body_dropdown_button dropdown-button">Show All</button>
                        </form>
                    </div>
                    @foreach (var x in teamList)
                    {
                        @if (x.CourseId.Equals(r.Id))
                        {
                            <div class="dropdown-item grid-item body_dropdown_item  has_content">
                                <form asp-controller="Lecturer" asp-action="ViewInfoTeam">
                                    @*<form asp-action="ViewInfoTeam" method="">*@
                                    <input type="hidden" value="@x.Id" name="TeamId" />
                                    <button class="body_dropdown_button dropdown-button">@x.Id </button>
                                </form>
                            </div>
                        }
                    }
                </div>
            </div>
            <br />
        }
    </div>
}
else
{
    <h3> You don't have any course</h3>
}
@*/////////////////*@
