@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    List<Student> studentList = (List<Student>)ViewData["TeamInfo"];
    string teamId = ViewData["TeamId"].ToString();
    Layout = "_LectureLayout";
}
<h3>Team: @teamId</h3>
<a asp-action="AssignStudentTeam" class="btn btn-sm bg-white" style="background-color:#212529!important; color:white!important; border-radius:12px;">
        Add a student
   
</a>
<br/>
<br/>
@if (studentList.Count != 0)
{
    
  <div class="table_scroll">
            <table class="table table-hover table_header_fixed" >
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Main</th>
                <th scope="col">Leader</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var r in studentList)
            {
                <tr>
                    <td style="vertical-align:middle!important;">@r.Id</td>
                    <td style="vertical-align:middle!important;">@r.Name</td>
                    <td style="vertical-align:middle!important;">@r.Main</td>
                    <td style="vertical-align:middle!important;">@r.Leader</td>
                    <td>
                    <form asp-action="AssignStudentTeamDelete" method="post">
                        <input type="hidden" value="@r.Id" name="StudentId" />
                        <input type="hidden" value="@teamId" name="TeamId" />                     
                        <button style="background-color:#212529;color:white; border-radius:12px;" type="submit" class="btn btn-sm">Delete</button>
                    </form>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    </div>
}
else
{
    <h3 style="text-align:center"> No student available</h3>
}

