@model IEnumerable<AssignmentStudent>
@{
    ViewData["Title"] = "All Assignments - Students";
    //List<Assignment> AssignmentList = (List<Assignment>)ViewData["AssignList"];
}

<h2>All Assignments</h2>
<a asp-action="AddStudent" class="btn btn-sm btn-primary">Add Student</a>
@*<a asp-action="GetAssignment" class="btn btn-sm btn-secondary">Get Assignment</a>*@

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Task Id</th>
            <th>Student Id</th>
     
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var r in Model)
            {
                <tr>
                    <td>@r.TaskId</td>
                    <td>@r.StudentId</td>
                    @*<td>@r.Task.Name</td>*@      @*can get entity information that is not in this table*@
                   
                    <td>
                        <a asp-action="UpdateAssignmentStudent" asp-route-id="@r.TaskId">
                            Update
                        </a>
                    </td>
                    <td>
                        <form asp-action="DeleteAssignmentStudent" method="post">
                            <input type="hidden" value="@r.TaskId" name="id" />
                            <input type="image" src="/icon/close.png" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>