@{
    List<Assignment> TaskList = (List<Assignment>)ViewData["TaskList"];
    List<AssignmentStudent> AssignmentStudentList = (List<AssignmentStudent>)ViewData["AssignmentStudent"];
    string cookieValue = ViewData["StudentId"].ToString();
    List<Report> reportList = (List<Report>)ViewData["ReportList"];
    var currentCourse = (Course)ViewData["CourseId"];
    var team = (Team)ViewData["Team"];
    var topic = (Topic)ViewData["CurrentProject"];
}
<!DOCTYPE html>
<html lang="en">
<head><a href="c:\users\asus\desktop\swp_mvc_code\template.net\views\home\dashboard.cshtml"></a>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
        

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper-">
            <!-- Content Header (Page header) -->
            <div class="content-header" style="padding:0px!important;">
                <div class="container-fluid">
                    @*@currentCourse.SemesterId - @currentCourse.Id - @currentCourse.SubjectId*@
                    <div class="row ">
                        <div class="col-sm-6">
                            @if (currentCourse != null)
                            {
                                <h6 class="m-0" style="font-weight:650!important;">Dashboard - @currentCourse.Name - @currentCourse.SubjectId</h6>
                            }
                            @if(topic != null)
                            {
                                <h6 class="m-0" style="font-weight:650!important;">Current topic: @topic.Name</h6>
                            }else{
                                <h6 class="m-0" style="font-weight:650!important;">Current topic: None</h6>
                            }
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <hr />


   @*         @if (team != null)
            {
                <h1>@team.Id</h1>

                <h2>Current Project: @topic.Name</h2>
            }*@
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    @if (team != null)
                                    {
                                        <h3>@TaskList.Count()</h3>
                                    }else{
                                    <h3>0</h3>
                                    }
                                    <p>Team total task</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    @{
                                        if (team != null)
                                        {
                                            
                                            List<AssignmentStudent> assignmentStudents = new List<AssignmentStudent>();
                                            for (int i = 0; i < TaskList.Count; i++)
                                            {

                                                for (int j = 0; j < AssignmentStudentList.Count; j++)
                                                {
                                                    if (TaskList[i].Id.Equals(AssignmentStudentList[j].TaskId))
                                                    {
                                                        if (AssignmentStudentList[j].Status.Equals("Completed"))
                                                        {
                                                            assignmentStudents.Add(AssignmentStudentList[j]);
                                                        }
                                                    }
                                                }
                                            }
                                            <h3>@(Math.Round((double)assignmentStudents.Count() / TaskList.Count() * 100, 2)) <sup style="font-size: 20px">%</sup></h3>
                                        }else
                                        {
                                            <h3>0<sup style="font-size: 20px">%</sup></h3>
                                        }
                                    }
                                    
                                    
                      
                                                                                  
                                    <p>Completed Task</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    @{
                                        int count = 0;

                                    }
                                    @if (team != null)
                                    {
                                        foreach (var r in TaskList)
                                        {
                                            foreach (var x in AssignmentStudentList)
                                            {
                                                if (r.Id.Equals(x.TaskId) && x.StudentId.Equals(cookieValue))
                                                {
                                                    count++;
                                                }
                                            }
                                            
                                        }
                                        <h3>@count</h3>
                                    }else{
                                        <h3>0</h3>
                                    }
                                    <p>Your Task</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    @if (team != null)
                                    {
                                        <h3>@reportList.Count()</h3>
                                    }else
                                    {
                                        <h3>0</h3>
                                    }
                                    <p>Total Report</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-7 connectedSortable">
                            <!-- Custom tabs (Charts with tabs)-->
                            <!-- DIRECT CHAT -->
                            <!--/.direct-chat -->
                            <!-- TO DO List -->
                            <div class="card" style="height:280px!important;">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="ion ion-clipboard mr-1"></i>
                                        To Do List
                                    </h3>
@*
                                    <div class="card-tools">
                                        <ul class="pagination pagination-sm">
                                            <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                                            <li class="page-item"><a href="#" class="page-link">1</a></li>
                                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                                            <li class="page-item"><a href="#" class="page-link">3</a></li>
                                            <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
                                        </ul>
                                    </div>*@
                                </div>
                                <!-- /.card-header -->
                                @*<form asp-controller="Home" asp-action="UpdateTask" method="post">*@
                                <div class="card-body scroll" style=" height:400px;">
                                    <ul class="todo-list" data-widget="todo-list">
                                        @if (TaskList != null) {
                                            @for(int i = 0; i<TaskList.Count; i++)
                                            {
                                                for (int j = 0; j < AssignmentStudentList.Count; j++)
                                                {
                                                    if (TaskList[i].Id.Equals(AssignmentStudentList[j].TaskId) && AssignmentStudentList[j].StudentId.Equals(cookieValue))
                                                    {
                                                        <li>
                                                            <!-- drag handle -->
                                                            <span class="handle">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </span>
                                                            <!-- checkbox -->
                                                            @if (AssignmentStudentList[j].Status.Equals("Completed"))
                                                            {
                                                                <div class="icheck-primary d-inline ml-2">
                                                                    <input type="checkbox" value="Completed" name="Status" id="todoCheck1" checked>
                                                                    <label for="todoCheck1"></label>
                                                                </div>
                                                            }else{
                                                                <div class="icheck-primary d-inline ml-2">
                                                                    <input type="checkbox" value="Completed" name="Status" id="todoCheck1">
                                                                    <label for="todoCheck1"></label>
                                                                </div>
                                                            }
                                                            
                                                            <!-- todo text -->
                                                            <span class="text">@TaskList[i].Name</span>
                                                            <!-- Emphasis label -->
                                                            @if (DateTime.Now < TaskList[i].DateEnd)
                                                            {
                                                                <small class="badge badge-success"><i class="far fa-clock"></i> 
                                                                    @((TaskList[i].DateEnd.Date - DateTime.Now.Date).TotalDays) days left</small>
                                                            }else{
                                                                <small class="badge badge-danger"><i class="far fa-clock"></i> Expired </small>
                                                            }
                                                            <!-- General tools such as edit or delete-->
                                                            <div class="tools">
                                                                <i class="fas fa-edit"></i>
                                                                <i class="fas fa-trash-o"></i>
                                                            </div>
                                                        </li>
                                    

                                                    }
                                                }
                                            }

                                        }else{
                                          <li>No Task</li>
                                      }
                                    </ul>
                                </div>
                                    <input type="hidden" name="studentId" value="@cookieValue" />
                                <!-- /.card-body -->
                                @*<div class="card-footer clearfix">
                                    <button type="submit" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Update</button>
                                </div>
                                </form>*@
                            </div>
                            <!-- /.card -->
                        </section>
                        <!-- /.Left col -->
                        <!-- right col (We are only adding the ID to make the widgets sortable)-->
                        <section class="col-lg-5 connectedSortable">

                            <!-- /.card -->
                            <!-- Calendar -->
                            <div class="card bg-gradient-success">
                                <div class="card-header border-0">

                                    <h3 class="card-title">
                                        <i class="far fa-calendar-alt"></i>
                                        Calendar
                                    </h3>
                                    <!-- tools card -->
                                    <div class="card-tools">
                                        <!-- button with a dropdown -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
                                                <i class="fas fa-bars"></i>
                                            </button>
                                            <div class="dropdown-menu" role="menu">
                                                <a href="#" class="dropdown-item">Add new event</a>
                                                <a href="#" class="dropdown-item">Clear events</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">View calendar</a>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body pt-0">
                                    <!--The calendar -->
                                    <div id="calendar" style="width: 100%"></div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </section>
                        <!-- right col -->
                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->

        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="dist/js/pages/dashboard.js"></script>
</body>
</html>




















@*
<li>
    <span class="handle">
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i>
    </span>
    <div class="icheck-primary d-inline ml-2">
        <input type="checkbox" value="" name="todo2" id="todoCheck2" checked>
        <label for="todoCheck2"></label>
    </div>
    <span class="text">Make the theme responsive</span>
    <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>
    <div class="tools">
        <i class="fas fa-edit"></i>
        <i class="fas fa-trash-o"></i>
    </div>
</li>
<li>
    <span class="handle">
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i>
    </span>
    <div class="icheck-primary d-inline ml-2">
        <input type="checkbox" value="" name="todo3" id="todoCheck3">
        <label for="todoCheck3"></label>
    </div>
    <span class="text">Let theme shine like a star</span>
    <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>
    <div class="tools">
        <i class="fas fa-edit"></i>
        <i class="fas fa-trash-o"></i>
    </div>
</li>
<li>
    <span class="handle">
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i>
    </span>
    <div class="icheck-primary d-inline ml-2">
        <input type="checkbox" value="" name="todo4" id="todoCheck4">
        <label for="todoCheck4"></label>
    </div>
    <span class="text">Let theme shine like a star</span>
    <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>
    <div class="tools">
        <i class="fas fa-edit"></i>
        <i class="fas fa-trash-o"></i>
    </div>
</li>
<li>
    <span class="handle">
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i>
    </span>
    <div class="icheck-primary d-inline ml-2">
        <input type="checkbox" value="" name="todo5" id="todoCheck5">
        <label for="todoCheck5"></label>
    </div>
    <span class="text">Check your messages and notifications</span>
    <small class="badge badge-primary"><i class="far fa-clock"></i> 1 week</small>
    <div class="tools">
        <i class="fas fa-edit"></i>
        <i class="fas fa-trash-o"></i>
    </div>
</li>
<li>
    <span class="handle">
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i>
    </span>
    <div class="icheck-primary d-inline ml-2">
        <input type="checkbox" value="" name="todo6" id="todoCheck6">
        <label for="todoCheck6"></label>
    </div>
    <span class="text">Let theme shine like a star</span>
    <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>
    <div class="tools">
        <i class="fas fa-edit"></i>
        <i class="fas fa-trash-o"></i>
    </div>
</li>*@



