@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<StudentTeam> studentTeams = (List<StudentTeam>)ViewData["StudentList"];
    StudentTeam studentTeam = (StudentTeam)ViewData["Team"];
    Project CurrentProject = (Project)ViewData["CurrentProject"];

}

@if (studentTeam != null)
{
    @if (studentTeams.Count != 0)
    {
        <h3> Team: @studentTeam.TeamId</h3>
        if (CurrentProject != null)
        {
            <h4> Current topic: @CurrentProject.Topic.Name </h4>
        }
        else
        {
            <h4> Current topic: None </h4>
        }
      <div class="table_scroll">
            <table class="table table-hover table_header_fixed" >
            <thead class="thead">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Main</th>
                    <th scope="col">Leader</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in studentTeams)
                {
                    <tr>
                        <td style="vertical-align:middle!important;">@r.Student.Id</td>
                        <td style="vertical-align:middle!important;">@r.Student.Name</td>
                        <td style="word-break:break-all; word-wrap:break-word; white-space:pre-wrap;vertical-align:middle!important;">@r.Student.Main</td>
                        <td style="vertical-align:middle!important;width:112px!important;">@r.Student.Leader</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    }
    else
    {
        <div>No student found</div>
    }
}else{
    <div>You are not in a team</div>
}