@model Student
@{
    ViewBag.Title = "Update an Assignment";
}

<h2>Update a Student <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Id">Id:</label>
        <input class="form-control" asp-for="Id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Main">Main:</label>
        <input class="form-control" asp-for="Main" />
    </div>
    <label asp-for="Leader">Is Leader? </label>
    <select asp-for="Leader" id="Leader">
        <option value=true>Yes</option>
        <option value=false>No</option>
    </select>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

@if (ViewBag.Result == "Success")
{
    <div>button run ok</div>
    @*   <h2>Assignment</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Start Location</th>
                <th>End Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                       <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Description</td>
            <td>@Model.DateStart</td>
                <td>@Model.DateEnd</td>
            </tr>
        </tbody>
    </table>*@
}