@model IEnumerable<Report>
@{
    ViewData["Title"] = "All Report";
    var reportList = (List<Report>)ViewData["ReportList"];
    var teamList = (List<Team>)ViewData["TeamList"];
}

<h2>All Report</h2>
<a asp-action="AddReport" class="btn btn-sm btn-primary">Add Report</a>
<br />


<form asp-controller="Report" asp-action="Index" method="">
    <div>
        @{
            Dictionary<string, bool> DupPreventer = new Dictionary<string, bool>();

            foreach (var r in reportList)
            {
                if (!DupPreventer.ContainsKey(r.TeamId)) DupPreventer.Add(@r.TeamId, false);
            }
        }
        Filter by:
        <select class="form-select-sm" name="TeamId" id="TeamId" required>
            <option selected value="">Team Id</option>
            @{

                foreach (var r in teamList)
                {
                    if (DupPreventer.ContainsKey(@r.Id))
                        if (!DupPreventer[@r.Id])
                        {
                            <option value="@r.Id"> @r.Id</option>
                            DupPreventer[@r.Id] = true;
                        }
                }
            }
        </select>
        <input class="btn btn-sm btn-primary" type="submit" value="Filter" />
    </div>
</form>
<form asp-controller="Report" asp-action="Index" method="">
    <input class="btn btn-sm btn-primary" type="submit" value="Show All" />
</form>




<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Team ID</th>
            <th>Description</th>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.TeamId</td>
                    <td>@r.Description</td>
                    <td>
                        <form asp-action="UpdateReport" method="">
                            <input type="hidden" value="@r.Id" name="id" />
                            <input type="hidden" value="@r.TeamId" name="TeamId" />
                            <input type="hidden" value="@r.Description" name="Description" />
                            <button type="submit" class="btn btn-sm btn-primary">Update</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteReport" method="post">
                            <input type="hidden" value="@r.Id" name="id" />
                            <button type="submit" class="btn btn-sm btn-primary">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>