@model Report
@{
    ViewBag.Title = "Update a Report";
    List<Team> TeamList = (List<Team>)ViewData["TeamList"];
}

<h2>Update a Report <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Id">Id:</label>
        <input class="form-control" asp-for="@Model.Id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description">Description:</label>
        <input class="form-control" asp-for="@Model.Description" name="descr" required />
    </div>
    <br />
    @if (ViewData["DescriptionLength"] == "DescriptionLength")
    {
        <div style="color:red">Description can only contain at max 200 characters</div>
        <br />
    }
    <select class="form-select form-select-lg" name="TeamId" id="TeamId" required>
        @{
            <option value="@Model.TeamId" selected>@Model.TeamId</option>
            foreach (Team r in TeamList)
            {
                if (r.Id != Model.TeamId)
                {
                    <option value="@r.Id"> @r.Id</option>
                }
            }
        }

    </select>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>
