@model IEnumerable<Topic>

@{
    ViewData["Title"] = "All Topic";
    var topicList = (List<Topic>)ViewData["TopicList"];
    var lecturerList = (List<Lecturer>)ViewData["LecturerList"];

}

<h2>All Topic</h2>
<a asp-action="AddTopic" class="btn btn-sm btn-primary">Add Topic</a>
<br />


<form asp-controller="Topic" asp-action="Index" method="">
    <div>
        @{
            Dictionary<string, bool> DupPreventer = new Dictionary<string, bool>();

            foreach (var r in topicList)
            {
                if (!DupPreventer.ContainsKey(r.LecturerId)) DupPreventer.Add(@r.LecturerId, false);
            }
        }
        Filter by:
        <select class="form-select-sm" name="LecturerId" id="LecturerId" required>
            <option selected value="">Lecturer Id</option>
            @{

                foreach (var r in lecturerList)
                {
                    if (DupPreventer.ContainsKey(@r.Id))
                        if (!DupPreventer[@r.Id])
                        {
                            <option value="@r.Id"> @r.Id</option>
                            DupPreventer[@r.Id] = true;
                        }
                }
            }
        </select>
        <input class="btn btn-sm btn-primary" type="submit" value="Filter" />
    </div>
</form>
<form asp-controller="Topic" asp-action="Index" method="">
    <input class="btn btn-sm btn-primary" type="submit" value="Show All" />
</form>



<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Lecturer ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Approval</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.LecturerId</td>
                    <td>@r.Name</td>
                    <td>@r.Description</td>
                    <td>@r.Approval</td>
                    <td>
                        <form asp-action="UpdateTopic" method="">
                            <input type="hidden" value="@r.Id" name="id" />
                            <input type="hidden" value="@r.LecturerId" name="LecturerId" />
                            <input type="hidden" value="@r.Name" name="name" />
                            <input type="hidden" value="@r.Description" name="description" />
                            <input type="hidden" value="@r.Approval" name="approval" />
                            <button type="submit" class="btn btn-sm btn-primary">Update</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteTopic" method="post">
                            <input type="hidden" value="@r.Id" name="id" />
                            <button type="submit" class="btn btn-sm btn-primary">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>