@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Report report = (Report)ViewData["Report"];
}
<h2>
    Update a report <a asp-action="Index" class="btn btn-sm btn-secondary">
        Back
    </a>
</h2>
<form asp-action="UpdateReport" method="post" style="width:730px;">
    <div class="form-group d-flex justify-content-between">
        <div>
            <label asp-for="@report.Id">Id:</label>
            <input class="form-control" asp-for="@report.Id" name="id" required style="width:350px;" readonly />
        </div>
    </div>
        <div class="form-group">
        <div>
            <label asp-for="@report.Description">Description:</label>
            <input class="form-control" asp-for="@report.Description" name="descripton" required style="width:730px;" />
        </div>
        </div>
        <input type="hidden" name="teamId" value="@report.TeamId" />
        <div class="text-center panel-body">
            <button type="submit" class="btn btn-sm btn-primary" style="width:730px;font-size:20px">Update</button>
        </div>
</form>
